<h1>Form#new</h1>
<p>Acá estará el formulario para crear proyectos</p>
<h1>Crear un nuevo artículo del blog</h1>
<h5>Recuerda completar los 3 campos al crear un artículo, de lo contrario tendrás un error y no se creará tu artículo</h5>
<h6>También recuerda que se censurará la palabra "spoiler"</h6>
<form method="get" action="/posts/create" id="create_posts">
    <div class="form-group">
        <label for="title">Título del artículo</label>
        <input name="title" type="text" class="form-control" id="title" placeholder="Ingresa el título del artículo">
    </div>
    <div class="form-group">
        <label for="image_url">URL de imagen</label>
        <input name="image_url" type="url" class="form-control" placeholder="Ingresa la url de la imagen que deseas agregar a tu artículo">
    </div>
    <div class="form-group">
        <label for="content">Contenido del artículo</label>
        <textarea name="content" class="form-control" id="content" rows="3" placeholder="Escribe aquí el contenido de tu nuevo artículo"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Crear artículo</button>
</form>